#meeting
BOT_NAME=Genie

#Bot behaviour 
WAKE_WORD=genie
JOIN_MODE=guest
AUDIO_SOURCE=loopback

#Chrome
CHROME_PATH=
BOT_PROFILE_DIR=.bot_chrome_profile

#S2T T2S Azure
STT_PROVIDER=azure
TTS_PROVIDER=azure
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=eastus
AZURE_SPEECH_LANGUAGE=
AZURE_SPEECH_VOICE=en-IN-NeerjaNeural

#azure openai
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=gpt-4o
AZURE_API_VERSION=2024-02-01


#features
CHAT_REPLY_ENABLED=true
VOICE_REPLY_ENABLED=false